body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: beige;
    padding: 10px;
    height: 30px;
    display: flex;
    top: 0;
    align-items: center;
    position: fixed;
    width: 100%;
    /* margin: 0 0 100px 0; */
}

nav > h3 {
    margin: 0;
}

.form {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1em;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
input, textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.btn {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    background-color: beige;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#blog-list {
    margin: 0 auto;
    padding: 30px 10px 10px;
}