/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #01403A; }
.Graphic-Design-2-hex { color: #25594B; }
.Graphic-Design-3-hex { color: #347355; }
.Graphic-Design-4-hex { color: #F2C1AE; }
.Graphic-Design-5-hex { color: #733729; }

:root {
    --color-1: #01403A;
    --color-2: #25594B;
    --color-3: #347355;
    --color-4: #F2C1AE;
    --color-5: #733729;
}






body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-1);
    color: var(--color-5);
}

nav {
    background-color: var(--color-4);
    padding: 10px;
    height: 30px;
    display: flex;
    top: 0;
    align-items: center;
    position: fixed;
    width: 100%;
    
}

nav > h3 {
    margin: 0;
}

.form {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1em;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
input, textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--color-4);
    color: var(--color-5);
}

.btn {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    background-color: var(--color-3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-4);
    border: 1px solid var(--color-4);
}

#blog-list {
    margin: 0 auto;
    padding: 30px 10px 10px;
}